body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: azure;
}
header{
    background-color: #2c3e50;
    height: 100px;
    display:flex;
    align-items: center;
    border-bottom: 3px solid #d35400;
}
ul,h1{
    margin:0;
    padding:0;
    color:white;
}
h1 span{
    color: #d35400;
}
.space-between{
    display:flex;
    justify-content: space-around;

}
.container{
    width:100%;
    margin: 0 auto;
    
}
ul{
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between;

   
}

nav{
    margin-top: 10px;
}
li a{
    color:white;
    text-decoration: none;
}
li a:hover{
    color:white;
    font-weight:bold;
}
.active{
    color:#d35400;
    font-weight:bold;
}
#banner{
    background-image: url("../img/design.jpg");
    height:400px;
    display:flex;
    align-items: center;
    text-align: center;
    color:white;

}
#banner h1{
    font-size: 45px;
}
#newsletter{
    background-color: #2c3e50;
    height: 70px;
    display:flex;
    justify-content: space-between;
   
}
.box{
    display:flex;
    width: 80%;
    align-items: center;
    margin-left: 450px;
}
h3{
    color:white;
    margin-left: 200px;
}
#cards{
    margin-top: 20px;
    text-align: center;
      
}
#cards .container{
    display: flex;
    
}
footer{
    background-color: #d35400;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.row{
    display:flex;
    justify-content: space-evenly;
    width:80%;
    margin:0 auto;
}
.column1 {
    margin-left: 100px;
  
}
.service{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:0 auto;
    
}
.contact{
    padding: 10px;
    margin-top:30px;
    height: 300px;
    width:400px;
    margin-left: 20px;
}
.table{
    width: 800px;
    height: 480px;
}
.table1{
    margin-bottom: -18px;
    padding: 5px;
}
.table2{
    margin-bottom: -18px;
    
}


